*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 80vw;
}
img{
    margin: 25px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
    position: relative;
    background-size: cover;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/85ff76db-39e5-423a-afbc-97d3e74db71b/null/PK-en-20240909-TRIFECTA-perspective_4565b049-1863-4944-9509-e4ec4415ba9e_large.jpg);
    background-position: center;
}
body:before{
content:"";
position: absolute;
width: 100%;
height: 100%;
opacity: 1;
background-color: black;
opacity: 0.5;
}
.back{
    min-height: 100vh;
    min-width: 100vw;
}
.box{
    margin-top: 90px;
    width: 450px;
    height: 450px;
    border: 0px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.632);
    font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;  
}
section{
    display: flex;
    flex-direction: column;
    margin: 55px;
    margin-top: 45px;
    filter: opacity(1);
}
h3{
    color: white;
    font-size: 32px;
    margin-bottom: 25px;
}
input{
    background-color: rgba(0, 0, 0, 0.632);
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.427);
    border-radius: 5px;
    color: white;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.712);
}
button{
    margin-bottom: 25px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}
p{
    color: white;
    align-self: center;
    cursor: pointer;
}
.label{
    color: white;
    cursor: pointer;
}
@media  screen and (max-width:600px) {
    body{
        background-color: black;
        background-image: none;
    }
    body::before{
        background-image: none;
    }
    nav{
        width: 100vw;
    }
    section{
        margin: 20px;
    }
}